.outline-element {
	background-color: #FFBB33 !important;
}

.outline-element-clicked {
	background-color: #FFBB33 !important;
}

.outline-image {
	border: 2px solid #FFBB33;
}

.outline-image-clicked {
	border: 2px solid #FFBB33;
}
