{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Create Crawler{% endblock %}
{% block body_block %}

<div id="createDiv" class="hide">

	<h1 id="display">Customise Your Crawler</h1>
	<form id="create" method="post" action="/create">
		{% csrf_token %}
		Name: <input type="text" name="crawlerName" value="" size="45" placeholder="e.g. MySpider">
		<br/><br/>
		URLs: <textarea id="crawlerSeeds" name="crawlerSeeds" rows="4" cols="50" placeholder="e.g. http://forums.hardwarezone.com.sg"></textarea>
		<br/><br/>
		<div id="template">
			<div class="row">
				Field: <input class="field" type="text" value="" size="10" placeholder="e.g. MySpider">
				XPath: <input class="xpath" type="text" size="40" placeholder="e.g. MySpider">
				<br/><br/>
			</div>
		</div>
			<button id="addBn" type="button">Add More Fields</button>
		<br/><br/>
		<input type="hidden" id="crawlerTemplate" name="crawlerTemplate" value="">
		<button type="submit">Start Crawling</button>
	</form>
	
	<br/>
	
</div>

<div id="selectDiv">
	
	<form id="fakeForm">
	Enter Seed URL: <input id="url" type="url" value="" size="50" placeholder="e.g. http://forums.hardwarezone.com.sg" required pattern="https?://.+">
	<button id="fetchBn" type="submit">Fetch</button> 
	</form>
	<button id="backBn" type="button">Back</button>
	
	<iframe id="iframe" srcdoc="" sandbox></iframe>
</div>

{% endblock %}