{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Create Crawler{% endblock %}
{% block body_block %}

<div id="createDiv" class="hide">

	<h1 id="display">Customise Your Crawler</h1>
	<form method="post" action="/create">
		{% csrf_token %}
		Name : <input type="text" name="crawlerName" value="" size="45" placeholder="e.g. MySpider">
		<br/><br/>
		Seeds : <input type="text" name="crawlerSeeds" value="" size="45" placeholder="e.g. http://forums.hardwarezone.com.sg">
		<br/><br/>
		<button type="submit">Start Crawling</button>
	</form>
	<br/>
	
</div>

<div id="selectDiv">
	
	<form id="fakeForm">
	Enter Seed URL: <input id="url" type="url" value="" size="50" placeholder="e.g. http://forums.hardwarezone.com.sg" required pattern="https?://.+">
	<button id="fetchBn" type="submit">Fetch</button>
	</form>
	<button id="backBn">Back</button>
	<hr/>
	
	<iframe id="iframe" src="http://hardwarezone.com.sg"></iframe> 
	
</div>

{% endblock %}