<!DOCTYPE html>
{% load staticfiles %}
{% csrf_token %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/favicon.png' %}">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/index.css' %}" rel="stylesheet">
<title>Focra</title>
</head>
<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Forum Crawler</h1>
            <p class="lead">This link does not exist! <br/>Click <a style="text-decoration: underline;" href="/">here</a> to Sign in.</p>
					
			</div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2015 by <a href="https://github.com/mingsheng36/Focra">@mingsheng36</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
<script type="text/javascript"
	src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52395821-1', 'auto');
  ga('send', 'pageview');

</script>
</html>