{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Focra{% endblock %}
{% block body_block %}
<img src="{% static "images/spider.png" %}" alt="Focra icon" />
<h1 id="display">Welcome to Focra</h1>
<form method="post" action="">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="30" placeholder="Username"/>
    <br/>
    Password: <input type="password" name="password" value="" size="30" placeholder="Password"/>
    <br/>
  	<input type="submit" value="Login">
</form>
{% endblock %}